@page
@model FacilityTracker.Pages.HomeModel
@using Microsoft.AspNetCore.Identity
@using FacilityTracker.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home";
}

<h2>Hello @Model.FirstName, Welcome</h2>

@if (Model.Role == UserType.Staff)
{
    
    <div style="margin-top: 20px;">
    <p> Welcome to the student tracker.  You can find a complete list of students below.</p>
    </div>
    <div>
        <a asp-page="/Users/Index" class="btn btn-primary">View All Users</a>
        <a asp-page="/Managers/Index" class="btn btn-secondary">View Managers Only</a>
    </div>
}